.commentsContainer {
  margin: 0 5%;

  &.notLoaded {
    display: flex;
    justify-content: center;
  }
  .load {
    color: var(--secondary);
    font-size: 1.75em;
    cursor: pointer;
    margin: 1em 0;
    background: transparent;
    border: solid 3px;
    padding: 8px;

  }
}