::ng-deep .expandedModal {

  .modal-wrapper {
    width: 100vw;
    height: 100vh;
  }

  @media (min-width: 768px) {
    .modal-wrapper {
      // 370 / 2
      left: calc(50% - 185px);
      // 250 / 2
      top: calc(50% - 125px);
      width: 750px;
      height: 500px;

      .imgOverlay {
        font-size: 5vh!important;
        padding: 25px 20px!important;
        min-height: 150px!important;
      }
    }
  }
  @media (min-width: 1024px) {
    .modal-wrapper {
      // 500 / 2
      left: calc(50% - 250px);
      // 333 / 2
      top: calc(50% - 166.5px);
      width: 1000px;
      height: 666px;
    }
  }
}
.modalContainer {
  background: var(--white);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .closeModal {
    cursor: pointer;
    position: absolute;
    background: var(--black);
    top: 15px;
    right: 15px;
    z-index: 10;
    opacity: .6;

    ion-icon {
      color: var(--white);
      padding: 0 5px;
      font-size: 32px;
    }
  }
  .imgWrapper {
    position: relative;

    .forwardBtn, .backBtn {
      position: absolute;
      // 50 / 2
      top: calc(50% - 25px);
      cursor: pointer;
      background: rgba(0,0,0,.4);
      padding: 0 5px;

      ion-icon {
        color: var(--white);
        font-size: 50px;
      }
    }
    .forwardBtn {
      right: 15px;
    }
    .backBtn {
      left: 15px;
    }
    .imgOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: var(--white);
      background: rgba(0,0,0,.65);
      font-size: 4vh;
      padding: 15px 10px;
      min-height: 75px;
    }
    .photoCredit {
      position: absolute;
      bottom: 30px;
      right: 10px;
      background: rgba(0,0,0,.65);
      color: white;
      font-weight: bold;
      padding: 5px;

      span {
        cursor: pointer;
      }
    }
    .counterContainer {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}