<div class="pageWrapperBruh">
  <div 
    class="pageWrapperContainer" 
    [style.background]="backgroundColor" 
    [ngClass]="topo ? 'topo' : ''"
    [style.padding-bottom]="displayFooter ? '275px' : 0"
    scrollDirective
  >
  <!-- On the display footer thing above making 275 for 25px of margin over the footer height 250 -->
    <app-hero-banner *ngIf="displayHeroBanner"></app-hero-banner>
    <app-navbar 
      *ngIf="displayNav"
      (searchTrigger)="searchIsActive = !searchIsActive"
      [collapsibleNav]="collapsibleNav"
    ></app-navbar>
    <ng-content></ng-content>
    <app-footer *ngIf="displayFooter"></app-footer>
  </div>
</div>