.profileContainer {
  display: flex;
  justify-content: center;
  text-align: center;

  ::ng-deep img {
    border-radius: 5px;
  }
  .defaultPhoto {
    display: flex;
    align-items: center;

    &.photo {
      height: 125px;
      width: 125px;
      border-radius: 5px;
      background: black;
    }

    app-backpack-icon {
      ::ng-deep svg {
        height: 70%;
        width: 70%;
      }
    }
  }
}
::ng-deep .trackUserContainer {
  margin: 10px auto 0;
}

@media (min-width: 768px) {

}
