<div class="postCardContainer" [attr.style]="sanitizer.bypassSecurityTrustStyle('--secondary:' + settingsService.secondaryColor)">
  <div class="imgWrapper" (click)="navigateToPost()" *ngIf="displayImage">
    <cl-image
      *ngIf="data.imagesByPostId.nodes.length"
      [public-id]="data.imagesByPostId.nodes[0].url"
      type="fetch"
      loading="lazy"
      quality="auto"
      fetch-format="auto"
      width="auto"
      crop="fill"
      responsive
    >
      <cl-placeholder type="blur"></cl-placeholder>
    </cl-image>
  </div>
  <div class="cardWrapper">
    <div class="cardTitle" (click)="navigateToPost()">{{data.title}}</div>
    <div class="bottomWrapper">
      <div
        class="authorWrapper"
        (click)="routerService.navigateToPage('/user/' + data.accountByAuthor.username)"
        *ngIf="displayAuthor"
      >
        by
        <span [style.color]="settingsService.secondaryColor" *ngIf="data.accountByAuthor.firstName">
          {{data.accountByAuthor.firstName}} {{data.accountByAuthor.lastName}}
        </span>
        <span [style.color]="settingsService.secondaryColor" *ngIf="!data.accountByAuthor.firstName">
          {{data.accountByAuthor.username}}
        </span>
      </div>
      <span class="pipeDivider" *ngIf="displayAuthor"> | </span>
      <div>{{ data.publishedDate | date:'mediumDate' }}</div>
    </div>
    <div class="descriptionWrapper" *ngIf="displayDescription">
      {{ utilService.stripHTMLTags(data.content) | truncate:['225', '...'] }}
    </div>
  </div>
</div>