<div class="profileContainer">
  <cl-image
    *ngIf="photo"
    [public-id]="photo"
    type="fetch"
    loading="lazy"
    quality="auto"
    fetch-format="auto"
    height="125"
    width="125"
    class="photo"
  >
    <cl-placeholder type="blur"></cl-placeholder>
  </cl-image>
  <div class="defaultPhoto photo" *ngIf="!photo">
    <app-backpack-icon [color]="settingsService.secondaryColor"></app-backpack-icon>
  </div>
</div>
<app-track-user [trackUserId]="trackUserId" *ngIf="trackUserId"></app-track-user>