.profileContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;

  .photo {
    border-radius: 5px;
    background: black;
    height: inherit;
    width: inherit;
  }
  .profilePhoto {
    background-position: center;
    background-size: contain;
  }
  .defaultPhoto {
    display: flex;
    align-items: center;

    app-backpack-icon {
      margin: 0 auto 10px;
    }
  }
}
.trackUserContainer {
  margin: 10px auto 0;
}

@media (min-width: 768px) {

}
