<div class="map" id="Map">
  <div class="mapContainer">
    <agm-map 
      [zoomControl]="false"
      [latitude]="coords.lat" 
      [longitude]="coords.lon"
      [disableDefaultUI]="true"
      [streetViewControl]="false"
      [mapDraggable]="false"
      [scrollwheel]="false"
      [fitBounds]="latlngBounds"
      [styles]=mapStyle
      [zoom]="zoomLevel"
      mapTypeId="terrain"
      #AgmMap
    >
      <agm-data-layer [geoJson]="geoJsonObject" [style]="dataLayerStyle"></agm-data-layer>
    </agm-map>
    <div class="mapBtn" (click)="routerService.navigateToPage('/trip/' + tripId + '/map')">
      <ion-icon name="trending-up-outline"></ion-icon>
      Launch Map Explorer
    </div>
  </div>
</div>