.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  .cardWrapper {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .galleryContainer {

    .cardWrapper {
      width: 50%;
    }
  }
}
@media (min-width: 768px) {
  .galleryContainer {

    .cardWrapper {
      width: 33.33%;
    }
  }
}