/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~ngx-sharebuttons/themes/material/material-dark-theme.scss';

// Beakpoints
// --------------------------------------------------

@import "./theme/common/breakpoints.scss";


// Mixins / Functions
// --------------------------------------------------

@import "./theme/common/functions.scss";
@import "./theme/common/mixins.scss";

ion-app {
  overflow: scroll;
  -ms-overflow-style: none;
  background: var(--black);
  position: static!important;
  min-height: 100%;
}
.boldFont {
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.gradientText {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.topoWrapper {
  background: url('./assets/images/topo.png') top center repeat-y;
  max-width: 1280px;
  background-size: 1280px;
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: center;
}
// hide froala shit
.fr-wrapper {
  div {
    a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
      display: none!important;
    }
  }
  .fr-element {
    .fr-placeholder {
      margin-top: 0!important;
    }
  }
}
.toast-container {
  background: #78d3b2 !important;
}

.popoverList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;

  .popoverItem {
    padding: 20px 13px;
    width: 100%;
    font-size: 1.4rem;
    color: #606060;
    white-space: nowrap;
    padding: 13px 25px 13px 12px;
    cursor: pointer;

    &.popoverActive {
      color: #21bbee;
    }

    .popoverLabel {
      display: inline-block;
      vertical-align: middle;
    }
    ion-icon {
      display: inline-block;
      vertical-align: middle;
      padding: 0 7px 0 0;
      width: 30px;
      text-align: center;
      font-size: 2.5rem;
    }
    &:hover {
      background-color: var(--light);
    }
  }
}

ion-range {
  width: 80%;
  padding-top: 40px !important;
  margin: 0 auto;

  .range-bar-active {
    background: var(--secondary);
  }
  .range-knob-handle {
    border: solid 1px #ddd !important;
    padding: 5px !important;
    border-radius: 50% !important;
    background: white !important;
    z-index: 10;
  }
  .range-knob {
    background: transparent !important;
    background-image: url('https://www.svgrepo.com/show/9394/backpack.svg') !important;
    border-radius: 0 !important;
    height: 40px !important;
    width: 40px !important;
    left: 0 !important;
    top: 0 !important;
  }
  .range-pin {
    left: -10px;
    top: -40px !important;
    width: 50px !important;
    border-radius: 10% !important;
    background: var(--secondary) !important;
  }
  .range-pin:before {
      content: "Stop " !important;
      position: static !important;
      transform: none !important;
      margin-left: 0 !important;
      background: var(--secondary) !important;
  }
}